@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Josefin Sans',
sans-serif;
font-family: 'Lato',
sans-serif; */

.top-header {
    font-family: 'Josefin Sans', sans-serif;

}

.josefin-font {
    font-family: 'Josefin Sans', sans-serif;
}

.lato-font {
    font-family: 'Lato', sans-serif;

}

.blog_card:hover .blog_title {
    color: #FB2E86;
}

.blog_card:hover .read_more {
    color: #FB2E86;
}

.latest_update_scribe {
    background-image: url(/assets/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 100% 100%; */
    background-position: center;
}


.top_cate_card:hover .top_cat_img {
    box-shadow: -2px 4px 2px #b32de6e7;
}

.top_category {
    padding: 10px 0 74px 0 !important;
}

.top_cate_paginate_bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #FB2E86;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.top_cate_paginate_bullet_active {
    border: 1px solid #FB2E86;
    background: #FB2E86;
}

.leastest_p_card:hover .leastest_p_add {
    left: 0;
}

.featured_card:hover .featured_card_body {
    background: #2F1AC4;

}

.featured_card:hover .featured_card_img {
    background: #F7F7F7;
}

.featured_card:hover .fp_title {
    color: white;
}

.featured_card:hover .fp_code {
    color: white;
}

.featured_card:hover .fp_price {
    color: white;
}

.featured_card:hover .featured_line_3 {
    background: white;
}

.featured_card:hover .featured_cart {
    display: block;
}




.featured_section {
    padding: 0 0 74px 0 !important;
}
.featured_paginate_bullet {
    width: 18px;
    height: 6px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    background: #FEBAD7;
}

.featured_paginate_bullet_active {
    background: #FB2E86;
    width: 24px;
}